<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.oauth.dao.OrderInfoMapper">

    <select id="selectByEntity" resultType="com.oauth.entity.OrderInfo">
        select * from orderinfo
        <where>
            <if test=" orderId !=null and orderId !='' ">AND order_id =#{ orderId }</if>
            <if test=" orderNumber !=null and orderNumber !='' ">AND order_number =#{ orderNumber }</if>
            <if test=" orderSercet !=null and orderSercet !='' ">AND order_sercet =#{ orderSercet }</if>
            <if test=" orderStatus !=null and orderStatus !='' ">AND order_status =#{ orderStatus }</if>
            <if test=" orderCanSend !=null and orderCanSend !='' ">AND order_can_send =#{ orderCanSend }</if>
            <if test=" orderIsSend !=null and orderIsSend !='' ">AND order_is_send =#{ orderIsSend }</if>
            <if test=" orderCustomer !=null and orderCustomer !='' ">AND order_customer =#{ orderCustomer }</if>
            <if test=" createTime !=null and createTime !='' ">AND create_time =#{ createTime }</if>
            <if test=" createPerson !=null and createPerson !='' ">AND create_person =#{ createPerson }</if>
            <if test=" updateTime !=null and updateTime !='' ">AND update_time =#{ updateTime }</if>
            <if test=" updatePerson !=null and updatePerson !='' ">AND update_person =#{ updatePerson }</if>
        </where>
    </select>

    <select id="count" resultType="int">
        select count(*) from orderinfo
    </select>

    <select id="selectByPrimaryKey"  parameterType="java.lang.String" resultType="com.oauth.entity.OrderInfo">
        select
        *
        from orderinfo
        where order_id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.oauth.entity.OrderInfo" >
        insert into orderinfo
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="orderId != null" >
                order_id,
            </if>
            <if test="orderNumber != null" >
                order_number,
            </if>
            <if test="orderSercet != null" >
                order_sercet,
            </if>
            <if test="orderStatus != null" >
                order_status,
            </if>
            <if test="orderCanSend != null" >
                order_can_send,
            </if>
            <if test="orderIsSend != null" >
                order_is_send,
            </if>
            <if test="orderCustomer != null" >
                order_customer,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createPerson != null" >
                create_person,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="updatePerson != null" >
                update_person,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="orderId != null" >
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="orderNumber != null" >
                #{orderNumber,jdbcType=INTEGER},
            </if>
            <if test="orderSercet != null" >
                #{orderSercet,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null" >
                #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="orderCanSend != null" >
                #{orderCanSend,jdbcType=INTEGER},
            </if>
            <if test="orderIsSend != null" >
                #{orderIsSend,jdbcType=INTEGER},
            </if>
            <if test="orderCustomer != null" >
                #{orderCustomer,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="createPerson != null" >
                #{createPerson,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="updatePerson != null" >
                #{updatePerson,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--orderId;-->
    <!--orderNumber;-->
    <!--orderSercet;-->
    <!--orderStatus;-->
    <!--orderCanSend;-->
    <!--orderIsSend;-->
    <!--orderCustomer-->
    <!--createTime;-->
    <!--createPerson;-->
    <!--updateTime;-->
    <!--updatePerson;-->
    <update id="updateByPrimaryKey" parameterType="com.oauth.entity.OrderInfo" >
        update huishanghe.orderinfo
        set
        order_number = #{orderNumber,jdbcType=VARCHAR},
        order_sercet = #{orderSercet,jdbcType=VARCHAR},
        order_status = #{orderStatus,jdbcType=INTEGER},
        order_can_send = #{orderCanSend,jdbcType=INTEGER},
        order_is_send = #{orderIsSend,jdbcType=TIMESTAMP},
        order_customer = #{orderCustomer,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_person = #{createPerson,jdbcType=VARCHAR}
        update_time = #{updateTime,jdbcType=VARCHAR}
        update_person = #{updatePerson,jdbcType=VARCHAR}
        where order_id = #{orderId,jdbcType=INTEGER}
    </update>
    <!--<select id="get" resultType="com.oauth.entity.OrderInfo">-->
        <!--select * from orderinfo where id = #{value}-->
    <!--</select>-->

    <!--<select id="list" resultType="com.oauth.entity.OrderInfo">-->
        <!--select-->
        <!--`id`,`title`,`content`,`price`,`create_time`,`start_time`,`end_time`,`author`,`thumb`,`is_recommend`,`cat_id`,`banner`,`place`-->
        <!--from activity-->
        <!--<where>-->
            <!--<if test="id != null and id != ''">and id = #{id}</if>-->
            <!--<if test="title != null and title != ''">and title = #{title}</if>-->
            <!--<if test="content != null and content != ''">and content = #{content}</if>-->
            <!--<if test="price != null and price != ''">and price = #{price}</if>-->
            <!--<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>-->
            <!--<if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>-->
            <!--<if test="endTime != null and endTime != ''">and end_time = #{endTime}</if>-->
            <!--<if test="author != null and author != ''">and author = #{author}</if>-->
            <!--<if test="thumb != null and thumb != ''">and thumb = #{thumb}</if>-->
            <!--<if test="isRecommend != null and isRecommend != ''">and is_recommend = #{isRecommend}</if>-->
            <!--<if test="catId != null and catId != ''">and cat_id = #{catId}</if>-->
            <!--<if test="banner != null and banner != ''">and banner = #{banner}</if>-->
            <!--<if test="place != null and place != ''">and place = #{place}</if>-->
        <!--</where>-->
        <!--<choose>-->
            <!--<when test="sort != null and sort.trim() != ''">-->
                <!--order by ${sort} ${order}-->
            <!--</when>-->
            <!--<otherwise>-->
                <!--order by id desc-->
            <!--</otherwise>-->
        <!--</choose>-->
        <!--<if test="offset != null and limit != null">-->
            <!--limit #{offset}, #{limit}-->
        <!--</if>-->
    <!--</select>-->

    <!--<select id="count" resultType="int">-->
        <!--select count(*) from activity-->
        <!--<where>-->
            <!--<if test="id != null and id != ''">and id = #{id}</if>-->
            <!--<if test="title != null and title != ''">and title = #{title}</if>-->
            <!--<if test="content != null and content != ''">and content = #{content}</if>-->
            <!--<if test="price != null and price != ''">and price = #{price}</if>-->
            <!--<if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>-->
            <!--<if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>-->
            <!--<if test="endTime != null and endTime != ''">and end_time = #{endTime}</if>-->
            <!--<if test="author != null and author != ''">and author = #{author}</if>-->
            <!--<if test="thumb != null and thumb != ''">and thumb = #{thumb}</if>-->
            <!--<if test="isRecommend != null and isRecommend != ''">and is_recommend = #{isRecommend}</if>-->
            <!--<if test="catId != null and catId != ''">and cat_id = #{catId}</if>-->
            <!--<if test="banner != null and banner != ''">and banner = #{banner}</if>-->
            <!--<if test="place != null and place != ''">and place = #{place}</if>-->
        <!--</where>-->
    <!--</select>-->

    <!--<insert id="insertOrder" parameterType="app.qinda.entry.activity.Activity" useGeneratedKeys="true" keyProperty="id">-->
        <!--insert into activity-->
        <!--(-->
        <!--`title`,-->
        <!--`content`,-->
        <!--`price`,-->
        <!--`create_time`,-->
        <!--`start_time`,-->
        <!--`end_time`,-->
        <!--`author`,-->
        <!--`thumb`,-->
        <!--`is_recommend`,-->
        <!--`cat_id`,-->
        <!--`banner`,-->
        <!--`place`-->
        <!--)-->
        <!--values-->
        <!--(-->
        <!--#{title},-->
        <!--#{content},-->
        <!--#{price},-->
        <!--#{createTime},-->
        <!--#{startTime},-->
        <!--#{endTime},-->
        <!--#{author},-->
        <!--#{thumb},-->
        <!--#{isRecommend},-->
        <!--#{catId},-->
        <!--#{banner},-->
        <!--#{place}-->
        <!--)-->
    <!--</insert>-->

    <!--<update id="update" parameterType="app.qinda.entry.activity.Activity">-->
        <!--update activity-->
        <!--<set>-->
            <!--<if test="title != null">`title` = #{title},</if>-->
            <!--<if test="content != null">`content` = #{content},</if>-->
            <!--<if test="price != null">`price` = #{price},</if>-->
            <!--<if test="createTime != null">`create_time` = #{createTime},</if>-->
            <!--<if test="startTime != null">`start_time` = #{startTime},</if>-->
            <!--<if test="endTime != null">`end_time` = #{endTime},</if>-->
            <!--<if test="author != null">`author` = #{author},</if>-->
            <!--<if test="thumb != null">`thumb` = #{thumb},</if>-->
            <!--<if test="isRecommend != null">`is_recommend` = #{isRecommend},</if>-->
            <!--<if test="catId != null">`cat_id` = #{catId},</if>-->
            <!--<if test="banner != null">`banner` = #{banner},</if>-->
            <!--<if test="place != null">`place` = #{place}</if>-->
        <!--</set>-->
        <!--where id = #{id}-->
    <!--</update>-->


</mapper>